{{template "header".}}
  <title>{{.Title}}</title>
{{template "navbar".}}
{{template "jumbotron".}}
<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">说明</div>
      <div class="panel-body">
        <ul>
          <li>虾米音乐只有默认音质。</li>
          <li>酷狗音乐的链接是没办法共享的。</li>
          <li>网易云音乐直接下载默认是没有后缀名的, 小伙伴们只需要下载的时候右键选择另存为就能修改文件名了。</li>
          <li>网易云音乐如果出现查询到的音乐无法播放/下载的情况可以试试选择选择高音质查询。(也可以在链接后面加上&h=on再访问)</li><br>
          <li>
            <p>相关链接: </p>
            <a href="http://www.loadfield.com/music-loadfield/" target="_blank">《告诉你网易云音乐下架音乐怎么下载》</a><br>
          </li>
        </ul>
        
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">更新日志</div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-heading">V1.5 (20160709)</div>
          <div class="panel-body">
            <ul>
              <li>增加虾米音乐查询</li>
              <li>播放插件更换为MediaElement</li>
              <li>首页最近查询增加虾米音乐</li>
              <li>一大堆细节上的调整</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">V1.4.1 (20160702)</div>
          <div class="panel-body">
            <ul>
              <li>修复云音乐详细页面图片过大的问题</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">V1.4 (20160630)</div>
          <div class="panel-body">
            <ul>
              <li>增加云音乐专辑查询</li>
              <li>云音乐详细页面加入专辑跳转链接</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">V1.3 (20160625)</div>
          <div class="panel-body">
            <ul>
              <li>修复酷狗带空格搜索返回空白BUG</li>
              <li>酷狗搜索结果改为新窗口打开</li>
              <li>添加使用帮助页面</li>
              <li>添加防圣母&防查水表提示信息</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">V1.2 (20160624)</div>
          <div class="panel-body">
            <ul>
              <li>增加酷狗音乐搜索功能</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">V1.1 (20160614)</div>
          <div class="panel-body">
            <ul>
              <li>增加单曲批量查询</li>
              <li>优化小屏设备下的体验</li>
              <li>改名为音乐查询工具</li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">V1.0 (20160520)</div>
          <div class="panel-body">
            <ul>
              <li>首次公开发布XX-Music</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{template "tongji".}}
</body>
</html>
