{{template "header".}}
  <title>{{.Title}}</title>
{{template "navbar".}}
{{template "jumbotron".}}
<div class="container">{{with .Song}}
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="{{.AlbumPic | https}}" target="_blank"><img src="{{.AlbumPic | https}}" height="180" width="180" class="img-responsive" alt="Responsive image" style="float: left;"></a>
          <div style="margin-left: 195px;margin-top: -20px;">
            <h2>{{.Name}}</h2>
            <p>{{.Artists}}</p>
            <a href="/album/{{.AlbumId}}" target="_blank" title="专辑《{{.Album}}》"><p class="text-primary">{{.Album}}</p></a>
            <a class="btn btn-success btn-sm" role="button" href="{{.Url | https}}" download="{{.Name}}.mp3" id="dow">下载音乐</a>
            <a class="btn btn-primary btn-sm" role="button" onclick="copy();">复制链接</a>
          </div>
          <div style="margin-top: 36px;">
            <audio src="{{.Url | https}}" type="audio/mp3" controls="controls" width="100%"></audio>
            <script>
              $('audio,video').mediaelementplayer();
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {{template "cunyu".}}
    </div>
  </div>{{end}}
</div>
<script type="text/javascript">
  function copy(){
    prompt('请 Ctrl+C 复制', $("#dow").attr("href"));
  }
</script>
{{template "tongji".}}
</body>
</html>
